doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css')
        link(rel='stylesheet', href='/jquery.mobile-1.4.5/jquery.mobile.theme-1.4.5.min.css')

        script(src="/jquery.mobile-1.4.5/jquery.min.js")
        script(src="/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js")

    body
        block content
