//
   Created by plter on 2016/11/1.

extends layout

block content
    div(data-role="page")
        div(data-role="header")
            h1= title
        div(role="main",class="ui-content")
            form
                input(type="text")
        div(data-role="footer")
            h4 页脚