<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>编辑</title>
</head>
<body>
<% if(req.session.loggedUser){ %>
<script src="jquery.min.js"></script>
<div>
    <form id="form-edit-post">
        <div>
            <input name="title" type="text" required="required">
        </div>
        <div>
            <textarea name="content" required="required"></textarea>
        </div>
        <input type="submit" value="发布">
    </form>
</div>
<script src="editor.js"></script>
<% }else { %>
<h1>你还没有登陆</h1>
<% } %>
</body>
</html>