
.card {
    width: 100px;
    height: 80px;
}

.card-content {
    width: 100%;
    height: 100%;
}

.card-a {
    display: block;
    background-color: red;
}

.card-b {
    display: none;
    background-color: blue;
}
