<!DOCTYPE html>
<html lang="en" ng-app="questions">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="bower_components/angular/angular.js"></script>
    <script src="main.js"></script>
</head>
<body ng-controller="main">
<div>
    <h3>{{questionIndex+1}}、{{title}}</h3>
    <form id="form-question" ng-submit="nextQuestionHandler()">
        <div ng-repeat="answer in answers">
            <label>
                <input type="radio" name="answer" value="{{answer.answer}}">
                <span>{{answer.description}}</span>
            </label>
        </div>
        <input ng-if="!atLastQuestion" type="submit" value="下一题">
    </form>
    <button ng-if="atLastQuestion" ng-click="btnSubmitBtnClicked()">提交</button>
</div>
</body>
</html>