<!DOCTYPE html>
<html lang="en" ng-app="questions">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="main.js"></script>
</head>
<body ng-controller="main">
<div>
    <h3>{{title}}</h3>
    <div ng-repeat="answer in answers">
        <label>
            <input type="radio">
            <span>{{answer.description}}</span>
        </label>
    </div>
    <button ng-click="nextQuestionHandler()">下一题</button>
</div>
</body>
</html>